# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#carpeta user
.vscode
.vscode-cli
ansel
Busquedas
Contactos
Descargas
Documentos
Escritorio
Favoritos
Imagenes
Juegos guardados
Musica
Objetos 3D
OneDrive
Videos
Vinculos
.bash_histori
.gitconfig